- load i18n staticfiles thumbnail cms_tags apphooks_config_tags

.row
    .col-12.col-lg-6.col-xl-5
      p
        // The image is only shown on the detail view by using the condition "and detail_view"
        a(href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}")
          if article.image_id
            img.article-hero_img.img-fluid.w-100(
              src="{% thumbnail article.image 800x450 crop subject_location=article.image.subject_location %}",
              alt="{{ article.image.alt }}"
            )
          else
            img.article-hero_img.img-fluid.w-100(
              src="https://e-gob.github.io/gob.cl/sitio/images/temp/new-hero.jpg", 
              alt="{{ article.featured_image.alt }}"
            )
    .col-12.col-lg-6.col-xl-6
      time.article-hero_date.a11y-tts
        {{ article.publishing_date|date }}
      h2.article-hero_main-title
        a.a11y-tts(href="{{ article.get_absolute_url }}")
          {% render_model article "title" %}

      p.a11y-tts
        {{ article.description }}
      a.text-red.a11y-tts(href="{{ article.get_absolute_url }}")
        {% trans 'See complete news' %}
