extends base.pug

- load i18n
- load cms_tags

block content
  section.section.section-header.bg-bluedark
    .container
      .row
        .col-sm-12.col-md-12.col-lg-5.order-lg-12.col-xl-5
          .pull-md-right
            {% include 'includes/toolbar.pug' %}
        .col-sm-12.col-md-12.col-lg-7
          article.text-light
            h2.heading-large.a11y-tts 
              {% static_placeholder 'Institutions' or %}
              {% trans 'Institutions' %}
              {% endstatic_placeholder %}
            p.a11y-tts 
              {% static_placeholder "Institutions lead in" or %}
              {% trans "Your citizen guide for simple and fast access to services and information of Chile's government." %}
              {% endstatic_placeholder %}
  section.section.pv-0-until-md
    .container
      .row
        .col-sm-12.col-md-12.col-lg-3.col-xl-3.bg-lightgray.top
          .card-data-small
            h1.card-data-small_title
              span.d-none.d-md-block &nbsp;
              small.a11y-tts 
                {% static_placeholder 'Presidency' or %}
                {% trans 'Presidency' %}
                {% endstatic_placeholder %}
            p.card-data-small_text.a11y-tts 
              {% static_placeholder "Presidency lead in" or %}
              {% trans "Your citizen guide for simple and fast access to services and information of Chile's government." %}
              {% endstatic_placeholder %}
            .clearfix
              a.pull-right.a11y-tts(href="{% url 'presidency_detail' %}") {% trans 'See more.' %}
        .col-sm-12.col-md-12.col-lg-3.col-xl-3.bg-light
          .card-data-small
            h1.card-data-small_title
              span.a11y-tts {{ ministry_list|length }}
              small.a11y-tts 
                {% static_placeholder 'Ministries' or %}
                {% trans 'Ministries' %}
                {% endstatic_placeholder %}
            p.card-data-small_text.a11y-tts
              {% static_placeholder "Ministries lead in" or %}
              {% trans "Your citizen guide for simple and fast access to services and information of Chile's government." %}
              {% endstatic_placeholder %}
            .clearfix.d-md-none
              a.pull-right(href="#ministries") {% trans 'See more.' %}
        .col-sm-12.col-md-12.col-lg-3.col-xl-3.bg-light
          .card-data-small
            h1.card-data-small_title
              span.a11y-tts {{ public_service_list|length }}
              small.a11y-tts 
                {% static_placeholder 'Public Services' or %}
                {% trans 'Public Services' %}
                {% endstatic_placeholder %}
            p.card-data-small_text.a11y-tts
              {% static_placeholder "Services lead in" or %}
              {% trans "Your citizen guide for simple and fast access to services and information of Chile's government." %}
              {% endstatic_placeholder %}
            .clearfix.d-md-none
              a.pull-right(href="#services") {% trans 'See more.' %}
        .col-sm-12.col-md-12.col-lg-3.col-xl-3.bg-light
          .card-data-small
            h1.card-data-small_title
              span.a11y-tts {{ region_list|length }}
              small.a11y-tts 
                {% static_placeholder 'Regions and their Municipalities' or %}
                {% trans 'Regions and their Municipalities' %}
                {% endstatic_placeholder %}
            p.card-data-small_text.a11y-tts
              {% static_placeholder "Municipalities lead in" or %}
              {% trans "Your citizen guide for simple and fast access to services and information of Chile's government." %}
              {% endstatic_placeholder %}
            .clearfix.d-md-none
              a.pull-right(href="#regions") {% trans 'See more.' %}
  section.section--medium.nopadding-top
    .container
      .row
        .col-sm-12.col-lg-8.col-xl-7
          .search-form#search.search-form--large.nomargin-top(
            data-view-filter=true,
            data-groups="[\".ministry-item\", \".service-item\", \".region-item\"]"
          )
            input.search-form_input(
              type="search",
              placeholder="{% trans 'Write here what you want search.' %}"
            )
            button.search-form_button.search-form_button--submit(type="submit")
              i.ic-filter
            button.search-form_button.search-form_button--cancel.d-none(type="button")
              i.ic-delete
                | 

      h2#ministries.heading-medium.a11y-tts
        {% static_placeholder 'Ministries' or %}
        {% trans 'Ministries' %}
        {% endstatic_placeholder %}

        if perms.ministries.add_ministry
          a.btn.btn-primary.pull-right(href="{% url 'ministry_create' %}")
            {% trans 'create ministry'|capfirst %}

      .row
        if ministry_list
          for ministry in ministry_list
            .searchable.col-sm-12.col-md-4.ministry-item(
              data-search-value="{{ ministry.name }}"
            )
              p
                a.a11y-tts(href="{{ ministry.get_absolute_url }}") {{ ministry }}

      .row.search-not-found.not-found-ministry-item
        .col-12
          i.disable {% trans 'No results found.' %}

      br

      h2#services.heading-medium.a11y-tts 
        {% static_placeholder 'Public Services' or %}
        {% trans 'Public Services' %}
        {% endstatic_placeholder %}

        if perms.ministries.add_publicservice

          a.btn.btn-primary.pull-right(href="{% url 'publicservice_create' %}")
            {% trans 'create public service'|capfirst %}

          a.btn.btn-primary.pull-right(href="{% url 'publicservice_list' %}")
            {% trans 'public service list'|capfirst %}
      .row
        if public_service_list
          for public_service in public_service_list
            .searchable.col-sm-12.col-md-4.service-item(data-search-value="{{ public_service.name }}")
              p
                if public_service.url
                  a.a11y-tts(href="{{ public_service.url }}")
                    {{ public_service }}
                else
                  span.a11y-tts {{ public_service }}
      .row.search-not-found.not-found-service-item
        .col-12
          i.disable {% trans 'No results found.' %}

      br
      h2#regions.heading-medium.a11y-tts 
        {% static_placeholder 'Regions' or %}
        {% trans 'Regions' %}
        {% endstatic_placeholder %}
        if perms.regions.add_region
          a.btn.btn-primary.pull-right(href="{% url 'region_create' %}")
            {% trans 'create region'|capfirst %}
      .row
        if region_list
          for region in region_list
            .searchable.col-sm-12.col-md-4.region-item(data-search-value="{{ region.name }}")
              p: a.a11y-tts(href="{{ region.get_absolute_url }}") {{ region }}
      .row.search-not-found.not-found-region-item
        .col-12
          i.disable {% trans 'No results found.' %}

