- load i18n
- load menu_tags
- load apphooks_config_tags

nav.navbar.navbar-expand-md.navbar-light.fixed-top
  .container
    a.navbar-brand.align-self-start(href="{% url 'home' %}")
      i.icon-gob
    .nav-content
      a.btn.btn-search.btn-search--mobile.toggle-search(href="#")
        i.ic-search.btn-search_icon
        i.ic-close.btn-search_icon
      .dropdown.lang
        a#dropdownMenuLang.btn.btn-seconday.dropdown-toggle(
          href="#",
          data-toggle="dropdown",
          role="button",
          aira-haspopup="true",
          aria-expanded="false"
        )
          - get_current_language as current_language
          {{ current_language }}
        .dropdown-menu(aria-labelledby="dropdownMenuLang")
          {% language_chooser "includes/menu_language.pug" %}
      button.navbar-toggler(
        type="button",
        data-toggle="collapse",
        data-target="#navbarSupportedContent",
        aria-controls="navbarSupportedContent",
        aria-expanded="false"
      )
        span.navbar-toggler-icon

    #navbarSupportedContent.navbar-collapse.collapse.justify-content-end
      ul.navbar-nav

        li.nav-item
          a.nav-link(href="https://chileatiende.digital.gob.cl/") {% trans 'Procedures and benefits' %}
        {% show_menu 0 1 100 100 "includes/menu.pug" %}
        li.nav-item
          a.nav-link(href="{% url 'institution_list' %}") {% trans 'Institutions' %}
        li.nav-item.nav-item-action.nav-item-desktop
          a.btn.btn-search.toggle-search(href="#")
            i.ic-search.btn-search_icon
            i.ic-close.btn-search_icon

        li.nav-item.dropdown.nav-item-desktop.lang
          a#navbarDropdownMenuLang.nav-link.dropdown-toggle(
            href="#",
            data-toggle="dropdown",
            aira-haspopup="true",
            aria-expanded="false"
          )
            - get_current_language as current_language
            {{ current_language|upper }}
          .dropdown-menu(aria-labelledby="navbarDropdownMenuLang")
            {% language_chooser "includes/menu_language.pug" %}

        if user.is_authenticated 
          li.nav-item.nav-item-access.dropdown
            a.nav-link.dropdown-toggle(href="#", data-toggle="dropdown")
              | {{user.first_name}}
              b.caret

            ul.dropdown-menu
              li
                if request.session.loginas_from_user
                  a.nav-link(href="{% url 'loginas-logout' %}") Logout
                else
                  a.nav-link(href="{% url 'logout' %}") Logout
        else
          li.nav-item.nav-item-access
            a.nav-link(href="{% url 'clave_unica_login' %}") {% trans 'Log in' %}
