doctype 5

- load compress
- load staticfiles
- load i18n static
- load cms_tags
- load sekizai_tags

html(lang="{{ LANGUAGE_CODE }}").a11y-font-0
  head
    meta(charset="utf-8")
    title Gob.cl{% block title %}{% if title%}:{% endif %} {{title}} {%endblock%}
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="author", content="https://magnet.cl")

    meta(name='twitter:site', content='@Gobiernodechile')
    meta(name='twitter:creator', content='@Gobiernodechile')

    meta(name='og:site_name', content="{% trans 'government of Chile'|capfirst %}")
    meta(name='og:type', content='website')
    meta(name='fb:admins', content='572738868')
    meta(name='fb:app_id', content='114405611929952')


    block meta_tags
      meta(itemprop='description', content='Gobierno de Chile')
      meta(itemprop='image', content="{{ request.scheme }}://{{ request.get_host }}{% static 'favicon/ms-icon-310x310.png' %}")
      meta(itemprop='name', content='Gob.cl: {{title}}')

    block newsblog_meta_tags
      meta(name="keywords", content="{% page_attribute 'meta_keywords' %}")
      meta(name="description", content="{% page_attribute 'meta_description' %}")

    link(
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css",
      rel="stylesheet"
    )
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab")

    link(rel='apple-touch-icon', sizes='57x57', href="{% static 'favicon/apple-icon-57x57.png' %}")
    link(rel='apple-touch-icon', sizes='60x60', href="{% static 'favicon/apple-icon-60x60.png' %}")
    link(rel='apple-touch-icon', sizes='72x72', href="{% static 'favicon/apple-icon-72x72.png' %}")
    link(rel='apple-touch-icon', sizes='76x76', href="{% static 'favicon/apple-icon-76x76.png' %}")
    link(rel='apple-touch-icon', sizes='114x114', href="{% static 'favicon/apple-icon-114x114.png' %}")
    link(rel='apple-touch-icon', sizes='120x120', href="{% static 'favicon/apple-icon-120x120.png' %}")
    link(rel='apple-touch-icon', sizes='144x144', href="{% static 'favicon/apple-icon-144x144.png' %}")
    link(rel='apple-touch-icon', sizes='152x152', href="{% static 'favicon/apple-icon-152x152.png' %}")
    link(rel='apple-touch-icon', sizes='180x180', href="{% static 'favicon/apple-icon-180x180.png' %}")
    link(rel='icon', type='image/png', sizes='192x192', href="{% static 'favicon/android-icon-192x192.png' %}")
    link(rel='icon', type='image/png', sizes='32x32', href="{% static 'favicon/favicon-32x32.png' %}")
    link(rel='icon', type='image/png', sizes='96x96', href="{% static 'favicon/favicon-96x96.png' %}")
    link(rel='icon', type='image/png', sizes='16x16', href="{% static 'favicon/favicon-16x16.png' %}")
    link(rel='manifest', href="{% static 'favicon/manifest.json' %}")
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content="{% static 'favicon/ms-icon-144x144.png' %}")
    meta(name='theme-color', content='#ffffff')

    //if lte IE 7
      script(src="https://html5shim.googlecode.com/svn/trunk/html5.js")

    //if lt IE 9
      script(
        src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js",
        integrity="sha256-g6iAfvZp+nDQ2TdTR/VVKJf3bGro4ub5fvWSWVRi2NE=",
        crossorigin="anonymous"
      )
    link(href="{% static 'slick-carousel/slick/slick.css' %}", rel="stylesheet")
    link(href="{% static 'magnific-popup/dist/magnific-popup.css' %}", rel="stylesheet")

    {% render_block "css" %}

    link(href="{% static 'select2/dist/css/select2.min.css' %}", rel="stylesheet")

    {% compress css %}
    link(
      type="text/x-scss", rel="stylesheet", href="{% static 'css/gob.cl.scss' %}",
      charset="utf-8"
    )
    {% endcompress %}

    {% compress css %}
    link(
      type="text/x-scss", rel="stylesheet", href="{% static 'css/site.scss' %}",
      charset="utf-8"
    )
    {% endcompress %}

    {% compress css %}
    block stylesheets
    {% endcompress %}

  body(
    class='{{body_class|default:""}} footer-links-{{ footer_links|length }}',
    data-main=".site-main"
  )
    {% cms_toolbar %}
    {% include 'includes/navbar.pug' %}
    div
      div.container
        div.row
          {% if messages %}
          {% for message in messages %}
          div(class="alert alert-{{ message.tags }}") {{ message }}
          {% endfor %}
          {% endif %}

    {% include 'includes/contingency.pug' %}
    main.site-main
      block header
      section.section.nopadding.bg-bluedark
        .container
          {% placeholder "top_content" %}
      block content
      section.section.nopadding.bg-bluedark
        .container
          {% placeholder "bottom_content" %}
    {% include 'includes/search.pug' %}
    {% include 'includes/footer.pug' %}
    // Javascript Placed at the end of the document so the pages load faster
    // uncompressible javascripts
    if not debug
      script(
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"
      )
      script(
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js",
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh",
        crossorigin="anonymous"
      )
      script(
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js",
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ",
        crossorigin="anonymous"
      )
      script(
        src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js",
        integrity="sha256-DHF4zGyjT7GOMPBwpeehwoey18z8uiz98G4PRu2lV0A=",
        crossorigin="anonymous"
      )
      script(
        src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js",
        integrity="sha256-P93G0oq6PBPWTP1IR8Mz/0jHHUpaWL0aBJTKauisG7Q=",
        crossorigin="anonymous"
      )
      script(
        src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js",
        integrity="sha256-ABVkpwb9K9PxubvRrHMkk6wmWcIHUE9eBxNZLXYQ84k=",
        crossorigin="anonymous"
      )
      script(
        src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/locale/es.js",
        integrity="sha256-/mb3JxYal3hmaaGtudBFnE9hoRK7CwKBeZlKUD2Ahqw=",
        crossorigin="anonymous"
      )

    block uncompressible_javascripts

    {% compress js %}
    if debug
      script(src="{% static 'jquery/dist/jquery.min.js' %}")
      script(src="{% static 'popper.js/dist/umd/popper.js' %}")
      script(src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}")
      script(src="{% static 'slick-carousel/slick/slick.js' %}")
      script(src="{% static 'magnific-popup/dist/jquery.magnific-popup.js' %}")
      script(src="{% static 'moment/moment.js' %}")
      script(src="{% static 'moment/locale/es.js' %}")
    {% endcompress %}

    script(src="//f1-na.readspeaker.com/script/9676/ReadSpeaker.js?pids=embhl")
    // templates

    {% compress js %}
    script(type="text/pug", src="{% static 'templates/articles/article_miniature_list.pug' %}")
    script(type="text/pug", src="{% static 'templates/search/list.pug' %}")
    {% endcompress %}

    block javascript_data
    {% render_block "js" %}
    {% compress js %}
    script(src="{% static 'cms_plugins/gallery/js/gallery.js' %}")
    script(src="{% static '@gobdigital-cl/gob.cl/dist/js/gob.cl.js' %}")
    script(src="{% static 'select2/dist/js/select2.full.js' %}")
    script(src="{% static 'js/context.js' %}")
    script(type='text/javascript').
      $(function () {
        /**
        * Share django urls with javascript.
        */
        $.extend(App, {
          paths: {
            fontSize: "{% url 'user_font_size_change' %}"
          }
        });
      });
    script(src="{% static 'js/forms.js' %}")
    script(src="{% static 'js/toolbar.js' %}")
    script(src="{% static 'js/social.js' %}")
    script(src="{% static 'js/application.js' %}")
    script(src="{% static 'js/load_more_function.js' %}")
    block javascripts
    {% endcompress %}
