- load i18n staticfiles cms_tags thumbnail

article.new.new--mobile.a11y-tts
  time.new_date
    {{ article.publishing_date|date }}
  figure.new_figure-mobile
    if article.featured_image_id
      img.img-fluid.w-100.img-frame(
        src="{{ article.featured_image|thumbnail_url:'new_list_item' }}",
        alt="{{ article.featured_image.alt }}"
      )
    else
      img.img-fluid.w-100.img-frame(
        src="{% static 'images/default-news.png' %}",
        alt="{{ article.featured_image.alt }}"
      )
  h2.new_title
    a.link.link--text-dark.visited(
      href="{{ article.get_absolute_url }}"
    )
      {% render_model article "title" %}
    if is_edit_mode
      if not article.is_published
        small.text-danger
          {% trans 'Not Published' %}
