- load i18n staticfiles thumbnail cms_tags apphooks_config_tags

block content
  main.site-main
    section.section.nopadding.bg-bluedark
      .container
        {% with article=article_list.first %}
        article.article-hero.article--dark.text-light
          .row
            .col-sm-12.col-md-12.col-lg-6.col-xl-5.order-md-12
              .pull-md-right
                {% include 'includes/toolbar.pug' %}
            .col-sm-12.col-md-12.col-lg-6.col-xl-7
              h1.heading-large {% trans 'News' %}
          .row
            .col-sm-12.col-md-12.col-lg-6.col-xl-5
              p
                // The image is only shown on the detail view by using the condition "and detail_view"
                if article.featured_image_id
                  img.article-hero_img.img-fluid.w-100(
                    src="{% thumbnail article.featured_image 800x450 crop subject_location=article.featured_image.subject_location %}",
                    alt="{{ article.featured_image.alt }}"
                  )
                else
                  img.article-hero_img.img-fluid.w-100(
                    src="https://e-gob.github.io/gob.cl/sitio/images/temp/new-hero.jpg", 
                    alt="{{ article.featured_image.alt }}"
                  )
            .col-sm-12.col-md-12.col-lg-6.col-xl-6
              time.article-hero_date
                {{ article.publishing_date|date }}
              h2.article-hero_main-title
                a(href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}")
                  {% render_model article "title" %}

              p
                {{ article.lead_in|striptags }}
              a(href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}").text-red
                {% trans 'See complete news' %}
        {% endwith %}

    section.section
      .container
        h2.heading-label {% trans 'Filter by Topic' %}:
        .tags
          .tags_content
            .tags_item
              a.ctag.ctag--light(href="{% namespace_url 'article-list' %}")
                {% trans 'All' %}
            for category in categories
              .tags_item
                a.ctag.ctag--light(
                  href="{% namespace_url 'article-list-by-category' category.slug namespace=namespace default='' %}"
                )
                  {{ category }}

          {%  include 'aldryn_newsblog/includes/article_miniature_list.pug' with articles=article_list %}

          .col-sm-12.col-md-12.col-lg-4.offset-lg-4.col-xl-4.offset-xl-4.d-none.d-sm-block.text-center
            br
            {% include 'aldryn_newsblog/includes/pagination.pug' %}
    section
      .container
        {% include 'includes/social.pug' %}


