extends base.pug

- load i18n thumbnail cms_tags apphooks_config_tags

block content
  section.section
    .container
      .row
        .col-12.col-lg-6.offset-lg-6.col-xl-5.offset-xl-7
          .d-none.d-lg-block.pull-md-right
            {% include 'includes/toolbar.pug' with dark=True %}
        .col-12.col-lg-10.offset-lg-1.col-xl-8.offset-xl-2
          article.main-post.a11y-tts
            time.main-post_date {{ article.publishing_date|date }}
            h1.main-post_title {% render_model article "title" %}
            .main-post_subtitle
              {{ article.description }}

            {% placeholder "top_content" %}

            ul.main-post_social-share
              li: p {% trans 'Share this news through your social networks' %}
              li.d-sm-none
                a.share(
                href="{{ request.scheme }}://{{ request.get_host }}{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}",
                data-social="messenger"
                )
                  i.ic-messenger
              li
                a.share(
                href="{{ request.scheme }}://{{ request.get_host }}{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}",
                data-social="facebook",
                )
                  i.ic-facebook
              li
                a.share(
                href="{{ request.scheme }}://{{ request.get_host }}{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}",
                data-text="{{article.title}}"
                data-social="twitter"
                )
                  i.ic-twitter

            {% render_placeholder article.content language placeholder_language %}

  section
    .container
      {% include 'includes/social.pug' %}

block javascripts
  script(src="{% static '' %})