extends base.pug

- load i18n
- load thumbnail
- load cms_tags

block meta_tags
  meta(name="description", content="{{ministry.description}}")
  if ministry.minister.photo
    meta(name="image", content="{{ request.scheme }}://{{ request.get_host }}{{ministry.minister.photo.url}}")
    meta(itemprop='image', content='{{ request.scheme }}://{{ request.get_host }}{{ministry.minister.photo.url}}')
  meta(itemprop='description', content='{{ministry.description}}')

block content
  section.bg-light
    .container
      ol.breadcrumb
        li: a.a11y-tts.rs_preserve(href="{% url 'home' %}") {% trans 'Home' %}
        li: a.a11y-tts.rs_preserve(href="{% url 'institution_list' %}") {% trans 'Institutions' %}

  section.section.bg-bluedark
    .container
      .row
        .col-sm-12.col-md-12.col-lg-5.order-lg-12.col-xl-5
          .pull-md-right
            {% include 'includes/toolbar.pug' %}
        .col-sm-12.col-md-12.col-lg-7.col-xl-7
          article.text-light
            h2.heading-large.a11y-tts.rs_preserve {{ ministry.name }}
            .row
              .col-xl-10.a11y-tts.rs_preserve
                p {{ ministry.description|linebreaks }}

  section
    .container
      .row
        .col-sm-12.col-lg-8
          .profile.profile--half.a11y-tts.rs_preserve
            .profile_image
              if ministry.minister.photo
                img.img-fluid.w-100.img-frame(src="{{ ministry.minister.photo|thumbnail_url:'avatar' }}", alt="")
            .profile_header
              h3.profile_title {{ ministry.minister.name }}
              if ministry.minister.charge 
                span.profile_job {{ ministry.minister.charge }}

            div
              p {{ ministry.minister.description|linebreaks }}
            if ministry.minister.twitter 
              p
                a.profile_twitter(href="https://twitter.com/{{ ministry.minister.twitter }}", target="blank")
                  | @{{ ministry.minister.twitter }}
            ul.profile_info
              - if ministry.minister.phone
                li: span {% trans 'Phone' %}: {{ ministry.minister.phone }}
              - if ministry.minister.email
                li: span {% trans 'E-Mail' %}: {{ ministry.minister.email }}
        .col-sm-12.col-lg-4.align-self-end
          .profile_buttons
            a.button.button--block.a11y-tts.rs_preserve(href="{{ ministry.url }}", target="blank")
              {% trans 'Go to the ministry site' %}
  
            if perms.ministries.change_ministry
              - get_current_language as current_language
              a.button.button--block(
                href="{% url 'admin:ministries_ministry_change' ministry.id %}?language={{ current_language }}",
                target="blank"
              )
                | {% trans 'edit ministry'|capfirst %}
            if perms.public_servants.change_publicservant
              - get_current_language as current_language
              a.button.button--block(
                href="{% url 'admin:public_servants_publicservant_change' ministry.minister_id %}?language={{ current_language }}", 
                target="blank"
              )
                | {% trans 'edit minister'|capfirst %}

            if perms.ministries.delete_ministry
              a.button.button--block(href="{% url 'ministry_delete' ministry.id %}", target="blank")
                | {% trans 'delete ministry'|capfirst %}

  section.bg-light
    .container
      .row
        for servant in ministry.public_servants.all
          .col-sm-12.col-lg-6.a11y-tts.rs_preserve
            .profile.profile--half-small
              div.profile_image.profile_image--small
                if servant.photo
                  img.img-fluid.w-100.img-frame(src="{{ servant.photo|thumbnail_url:'avatar_small' }}", alt="")
              .profile_header
                h3.profile_title {{ servant.name }}
                span.profile_job {{ servant.charge|default_if_none:"" }}

              p {{ servant.description|linebreaks }}
              if servant.twitter 
                p
                  a(href="https://twitter.com/{{ servant.twitter }}", target="blank").profile_twitter
                    | @{{ servant.twitter }}
              ul.profile_info
                - if servant.phone
                  li: span {% trans 'Phone' %}: {{ servant.phone }}
                - if servant.email
                  li: span {% trans 'E-Mail' %}: {{ servant.email }}
            if perms.public_servants.change_publicservant
              - get_current_language as current_language
              a.button.btn.btn-xs.pull-right(
                href="{% url 'admin:public_servants_publicservant_change' servant.id %}?language={{ current_language }}", 
                target="blank"
              )
                | {% trans 'edit'|capfirst %}

  section.section
    .container.a11y-tts.rs_preserve
      h2.heading-medium 
        {% static_placeholder 'Institutions of' or %} 
        {% trans 'Institutions of' %} 
        {% endstatic_placeholder %}
        {{ ministry.name }}
      if ministry.publicenterprise_set.exists
        h3.heading-sub 
          {% static_placeholder 'Public Enterprises' or %}
          {% trans 'Public Enterprises' %}
          {% endstatic_placeholder %}
        .row
          for public_enterprise in ministry.publicenterprise_set.all
            .col-12.col-md-4
              .list-links
                li
                  if public_enterprise.get_absolute_url
                    a(href="{{ public_enterprise.url }}", target="blank").link
                      | {{ public_enterprise.name }}
                  else
                    | {{ public_enterprise.name }}
      if ministry.publicservice_set.exists
        h3.heading-sub 
          {% static_placeholder 'Public Services' or %}
          {% trans 'Public Services' %}
          {% endstatic_placeholder %}
        .row
          for public_service in ministry.publicservice_set.all
            .col-12.col-md-4
              .list-links
                li
                  if public_service.get_absolute_url
                    a(href="{{ public_service.get_absolute_url }}", target="blank").link
                      | {{ public_service.name }}
                  else
                    | {{ public_service.name }}
  section
    .container
      {% include 'includes/social.pug' %}
